## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [23]:
sample_list_1 = random.sample(range(100), k=80)
print(sample_list_1)
print(len(sample_list_1))

#to see if each value is unique
set1 = set(sample_list_1)
len(set1)

[54, 25, 93, 89, 16, 49, 45, 52, 58, 46, 3, 67, 61, 78, 8, 84, 79, 32, 39, 53, 17, 36, 86, 6, 60, 80, 59, 91, 19, 71, 24, 92, 70, 1, 76, 12, 73, 38, 88, 98, 20, 22, 29, 48, 64, 4, 81, 44, 30, 18, 55, 43, 99, 27, 66, 10, 51, 7, 33, 31, 65, 97, 35, 90, 74, 47, 0, 85, 95, 87, 14, 5, 40, 68, 42, 56, 94, 13, 83, 69]
80

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [24]:
# the length is still 80
set1 = set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [39]:
sample_list_2 = random.choices(range(100), k=80)
print(sample_list_2)
len(sample_list_2)

[13, 51, 1, 2, 63, 38, 90, 54, 33, 18, 82, 72, 7, 72, 32, 29, 29, 76, 9, 35, 3, 47, 52, 82, 37, 53, 45, 44, 60, 18, 39, 52, 70, 62, 72, 24, 74, 86, 71, 22, 91, 55, 45, 88, 16, 78, 27, 2, 63, 64, 14, 51, 12, 47, 79, 63, 53, 67, 84, 41, 79, 32, 20, 60, 76, 53, 48, 80, 83, 8, 42, 57, 95, 30, 63, 63, 6, 52, 39, 49]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [40]:
# No, because sample_list_2 had duplicated elements
set2 = set(sample_list_2)
len(set2)

58

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [46]:
print(set1)
print(set2)
set3 = set1 - set2
print(set3)

{0, 1, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 16, 17, 18, 19, 20, 22, 24, 25, 27, 29, 30, 31, 32, 33, 35, 36, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 76, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99}
{1, 2, 3, 6, 7, 8, 9, 12, 13, 14, 16, 18, 20, 22, 24, 27, 29, 30, 32, 33, 35, 37, 38, 39, 41, 42, 44, 45, 47, 48, 49, 51, 52, 53, 54, 55, 57, 60, 62, 63, 64, 67, 70, 71, 72, 74, 76, 78, 79, 80, 82, 83, 84, 86, 88, 90, 91, 95}
{0, 4, 5, 10, 17, 19, 25, 31, 36, 40, 43, 46, 56, 58, 59, 61, 65, 66, 68, 69, 73, 81, 85, 87, 89, 92, 93, 94, 97, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [47]:
print(set1)
print(set2)
set4 = set2 - set1
print(set4)

{0, 1, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 16, 17, 18, 19, 20, 22, 24, 25, 27, 29, 30, 31, 32, 33, 35, 36, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 76, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99}
{1, 2, 3, 6, 7, 8, 9, 12, 13, 14, 16, 18, 20, 22, 24, 27, 29, 30, 32, 33, 35, 37, 38, 39, 41, 42, 44, 45, 47, 48, 49, 51, 52, 53, 54, 55, 57, 60, 62, 63, 64, 67, 70, 71, 72, 74, 76, 78, 79, 80, 82, 83, 84, 86, 88, 90, 91, 95}
{2, 37, 72, 9, 41, 82, 57, 62, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [50]:
set5 = set1.intersection(set2)
print(set5)

{1, 3, 6, 7, 8, 12, 13, 14, 16, 18, 20, 22, 24, 27, 29, 30, 32, 33, 35, 38, 39, 42, 44, 45, 47, 48, 49, 51, 52, 53, 54, 55, 60, 64, 67, 70, 71, 74, 76, 78, 79, 80, 83, 84, 86, 88, 90, 91, 95}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [79]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

# set 1's length represents the difference between set1 vs set2(set3) and the intersection between them (set5)

print(len(set1) == len((set3).union(set5)))

# set 2's length represents the difference between set2 vs set1(set4) and the intersection between them (set5)

print(len(set2) == len((set4).union(set5)))

# to simplify the formula

print((len(set1) + len(set2)) == len(set3)+len(set4)+(len(set5))*2)

80
58
31
9
49
True
True
True

#### Create an empty set called `set6`.

In [ ]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [84]:
set6 = set()
set6.update(set5,set3)
print(set6)

{0, 1, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 16, 17, 18, 19, 20, 22, 24, 25, 27, 29, 30, 31, 32, 33, 35, 36, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 76, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [85]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [88]:
# False because they are different sets
print(set2.issubset(set1))
# True because set3 represents the difference between set1 vs set2
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [97]:
set1 = set(sample_list_1)
set2 = set(sample_list_2)
set3 = set1 - set2
set4 = set2 - set1
set5 = set1.intersection(set2)
set6 = set()
set6.update(set5,set3)

joining_sets = set3.union(set4,set5)
print(joining_sets)

joining_sets_2 = joining_sets.union(set1,set2)
print(joining_sets_2)

print(set1.union(set2))

#They are equal, because sets don't accept duplicates, and joining the differences of set1 and set 2(set3 & 4) + their intersection, definitley represents their union.

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 16, 17, 18, 19, 20, 22, 24, 25, 27, 29, 30, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 16, 17, 18, 19, 20, 22, 24, 25, 27, 29, 30, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 16, 17, 18, 19, 20, 22, 24, 25, 27, 29, 30, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [122]:
sample_list_1 = random.sample(range(100), k=80)
set1 = set(sample_list_1)
print(set1)

set1_test = set1.copy()
set1_test_2 = list(set1_test)

set1_test_2.pop(0)

set1 = set(set1_test_2)
print(set1)
type(set1)

{0, 1, 2, 6, 7, 8, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 37, 38, 40, 42, 43, 44, 45, 46, 49, 50, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 97, 98, 99}
{1, 2, 6, 7, 8, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 37, 38, 40, 42, 43, 44, 45, 46, 49, 50, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 97, 98, 99}

set

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [126]:
set1_list = list(set1)
print(set1_list)
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for l in list_to_remove:
    if l in set1_list:
        set1_list.remove(l)
print(set1_list)
set1 = set(set1_list)
type(set1)

[1, 2, 6, 7, 8, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 37, 38, 40, 42, 43, 44, 45, 46, 49, 50, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 97, 98, 99]
[2, 6, 7, 8, 12, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 34, 35, 37, 38, 40, 42, 43, 44, 45, 46, 50, 52, 53, 54, 55, 56, 57, 60, 62, 63, 64, 65, 66, 67, 68, 72, 73, 74, 75, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 97, 98]

set